*, html {
    font-family: 'Cambria Regular', Cambria, "Times New Roman", serif;
    line-height: 24px
}
#wrapper { width: 800px; margin: 50px auto; }
h1 { font-size: 60px; text-align: center; margin-top: 96px }
ul, form { margin-top: 96px; margin-left: 96px }
ul { font-size: 36px; list-style-type: none; }
li { margin-top: 48px; }
li a { color: #F7CA18; }

#logout { float: right; }

footer { width: 80%; text-align: right; }
footer a { color: #ccc; font-size: 12px; }

table.teams { border-collapse: collapse; width: 100%; }
table.teams tr { border-bottom: 1px solid lightgray; }
table.teams thead tr { font-weight: bold; border-bottom: 1px solid gray; }
table.teams td form { display: inline; }
